
col-align {
    text-align: right;

}

center {
    margin: length;
    position: relative;
    top: auto;
    right: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


row-space {
    margin-bottom: App;
}
